@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@400;700;800&display=swap');

:root {
  /* typography */
  --font-family: 'Hind', sans-serif;
  --heading: 'Montserrat', sans-serif;

  --font-color: hsl(0, 0%, 38%);
  --heading-color: hsl(30, 50%, 1%);

  /* color */
  --cta: hsl(202, 78%, 44%);
  --cta-shade1: hsl(202, 62%, 53%);
  --cta-shade2: hsl(202, 63%, 64%);
  --section-bg: hsl(207, 36%, 95%);
  --ghost-white: hsl(240, 100%, 99%);
  --snow: #f8f8ff;
}
